#learn-more {
    background-color: #eaf4fb;
    /* Light blue background */
    padding: 40px 20px;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2,
h3 {
    color: #003366;
    /* Dark blue for headings */
}

p {
    color: #555;
    /* Gray for the paragraph text */
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* Rounded corners for images */
}